@{
    ViewData["Title"] = "Tv shows";
}
@model Watchify.ViewModels.ShowModel
@{
    string showType = Model.ShowType == Common.ShowType.TvShow ? "tv shows" : "movies";
}
<div class="container pt-3 text-center border shadow rounded">
    <form asp-controller="Home" asp-action="@(Model.ShowType == Common.ShowType.TvShow ? "SaveTvShowsSettings" : "SaveMovieSettings")">
        <div class="mb-3">
            <label for="tvShowsCount" class="form-label">
                <h3 class="position-relative">

                    How many popular @showType do you want to get
                    <img src="~/images/question_mark.svg"
                        title="Number of @showType filtered by genres you will get"
                        class="position-absolute top-0 start-100 translate-middle mt-1 ms-3" 
                        width="25em" 
                        height="25em"/>
                </h3>
            </label>
            <select id="showsCount" name="showsCount" class="form-select">
                @for (int i = 10; i <= 50; i+=10)
                {
                    if (i == Model.UserSettings.ShowsCount) {
                        <option value="@i" selected>@i</option>
                    }
                    else {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="genres" class="form-label">
                <h3>Genres</h3>
            </label>
            <div class="container text-start">
                <ul class="list-unstyled d-inline-block">
                @foreach (var genre in Model.Genres)
                {
                    string checkGenre = Model.UserSettings.GenreIds.Contains(genre.Id) ? "checked" : "";
                    <li class="d-inline-block" style="width: 15%;">
                        <div>
                            <input class="form-check-input" type="checkbox" id="genre-@genre.Id" name="genres[]" value="@genre.Id" @checkGenre="checked">
                            <label class="form-check-label" for="genre-@genre.Id">
                                @genre.Name
                            </label>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary w-50" value="Submit">
        </div>
    </form>
</div>